<strong>Recuperando Senha</strong>

<p> Uma solicitacao de recuperacao de senha foi realizada para o email ({{email}}). </p>
<p> Se voce nao foi o autor dessa requesicao, troque sua senha. </p>

<p>Para continuar com a recuperacao de senha clique no link abaixo.</p>

<a href="{{link}}">Criar nova senha</a>
