<strong>Ola, {{ name }}</strong>
<span>Seu cadastro foi realizado com sucesso</span>
<span>Aproveite nosso App, <a href="{{ link }}">Login</a></span>
<small>Qlq duvida ou sugestao, entrar em contato</small>






